//------------PETIT ECRAN----------------

@media screen and (max-width: 630px) {
    .profilePageContainer {
        height: calc(100vh - 64px);
        width: 100vw;
        margin-top: 64px;
        background-color: yellow;
        overflow: scroll;
        // scroll-snap-type: x mandatory;
        // overflow-x: scroll;

        // line-Height: 19%;

        .profile {
            height: 96%;
            width: 96%;
            background-color: white;
            margin-top: 2%;
            margin-left: 2%;
            min-height: 500px;
            min-width: 400px;
            overflow: scroll;
            box-shadow: 1px 2px 20px rgb(99, 97, 97);

            .avatarItem {
                height: 50%;
                // position: relative;
                display: flex;
                // justify-content: center;
                align-items: center;
                flex-direction: column;
                position: relative;

                .avatar {
                    margin-top: 2%;
                    height: auto;
                    width: 45%;
                    // z-index: 0;
                    // background-image: "../styles/asset/Cerise.jpg";
                    box-shadow: 1px 2px 20px rgb(99, 97, 97);
                }
            }

            .avatarChange {
                // variant:"contained";

                display: flex;

                color: white;
                font-family: "system-ui";
                background-color: black;
                margin-inline: auto;
                margin-top: 7%;
                width: 50%;

                // align-items: center;
                text-transform: capitalize;

                &:hover {
                    color: white;
                    background-color: grey;
                }
            }
        }

        .infoUser {
            color: black;
            justify-content: center;
            // margin-top: 2%;
            display: flex;
            align-items: center;

            .userName {
                color: grey;
                // border: 2px solid green;
                font-family: "system-ui";
            }

            .userNamePrint {
                white-space: pre-line;
                margin-left: 1.66%;
                text-transform: capitalize;

                font-family: "system-ui";
                font-size: 200%;
                // font-weight: 200; //le gras d'un texte
                // font-style: oblique;
                // text-overflow: ellipsis;
            }
        }

        .infoUsername {
            color: black;
            justify-content: center;
            // margin-top: 2%;
            display: flex;
            align-items: center;
            // white-space:pre-line;

            .userNameChange {
                color: grey;
                font-family: "system-ui";
                // text-align: left;
            }

            .userNamePrintChange {
                margin-left: 1.66%;
                text-transform: capitalize;
                font-family: "system-ui";
                font-size: 200%;
                // font-weight: 200;
            }
        }

        .buttonChange {
            display: flex;
            color: white;
            font-family: "system-ui";
            background-color: black;
            margin-inline: auto;
            text-transform: capitalize;
        }

        .buttonChange:hover {
            color: white;
            background-color: grey;
        }

        .buttonChange2FA {
            display: flex;
            color: white;
            font-family: "system-ui";
            background-color: black;
            margin-inline: auto;
            margin-top: 1%;
            text-transform: capitalize;

            &:hover {
                color: white;
                background-color: grey;
            }
        }

        .stat {
            height: 96%;
            width: 96%;
            background-color: white;
            margin-top: 2%;
            margin-bottom: 2%;
            margin-left: 2%;
            min-height: 500px;
            min-width: 400px;
            box-shadow: 1px 2px 20px rgb(99, 97, 97);
            overflow: scroll;
            overflow-x: scroll;

            .rectangle {
                height: 29%;
                width: 100%;
                background-color: rgb(122, 122, 122);
                top: 0;
                z-index: 999;
                text-align: center;
                // vertical-align: middle;
                // display: inline-block;
                // display:flow-root;
            }
            * {
                box-sizing: border-box;
            }

            .textRectangle {
                display: inline-block;
                vertical-align: middle;
                align-content: space-between;
                justify-content: space-between;
                padding: 2%;
            }

            // * {
            //     box-sizing: border-box;
            // }

            .itemLoser {
                align-content: space-between;
                justify-content: space-between;
                // width: 100%;
                border: 5px solid red;
                box-shadow: 1px 2px 20px rgb(99, 97, 97);
                background-color: rgb(255, 164, 164);

                margin-bottom: 2%;
                // border-radius: .5em;  pour arrondire les angles du carré
                padding: 10px;
            }

            //
            .itemWinner {
                align-content: space-between;
                justify-content: space-between;
                // width: 100%;
                border: 5px solid green;
                box-shadow: 1px 2px 20px rgb(99, 97, 97);
                background-color: rgb(182, 255, 164);
                margin-bottom: 2%;

                // border-radius: .5em;  pour arrondire les angles du carré
                padding: 10px;
            }

            .results {
                width: 20%;
                padding: 10px;
                background-color: none;
                // opacity: 100%;

                display: inline-flex;
                margin-left: 10%;
                text-align: center;
                align-content: space-between;
                vertical-align: middle;
                justify-content: space-between;
            }

            .score {
                font-size: x-small;
                padding: 2px;
                font-weight: 900;
            }

            .avatarStatuser {
                padding: 2px;
            }

            .name {
                padding: 2px;

                font-size: x-small;
                text-transform: capitalize;

                // text-transform: uppercase;
            }
        }
    }
}

// .grid{
//     align-items: center;
// }
//------------MOYEN ECRAN----------------------------------------------------------------------------

@media screen and (min-width: 630px) {
    .profilePageContainer {
        height: calc(100vh - 64px);
        width: 100vw;
        margin-top: 64px;
        background-color: lightblue;
        overflow: scroll;
        // line-Height: 19%;

        .profile {
            height: 96%;
            width: 96%;
            background-color: white;
            margin-top: 2%;
            margin-left: 2%;
            min-height: 500px;
            min-width: 400px;
            overflow: scroll;

            box-shadow: 1px 2px 20px rgb(99, 97, 97);

            .avatarItem {
                height: 50%;
                // position: relative;
                display: flex;
                // justify-content: center;
                align-items: center;
                flex-direction: column;
                position: relative;

                .avatar {
                    margin-top: 2%;
                    height: auto;
                    width: 30%;
                    // z-index: 0;
                    // background-image: "../styles/asset/Cerise.jpg";
                    box-shadow: 1px 2px 20px rgb(99, 97, 97);
                }
            }

            .avatarChange {
                // variant:"contained";

                display: flex;

                color: white;
                font-family: "system-ui";
                background-color: black;
                margin-inline: auto;

                width: 30%;
                // margin-top: 3%;
                // z-index: 999;

                // align-items: center;
                text-transform: capitalize;

                &:hover {
                    color: white;
                    background-color: grey;
                }
            }

            .buttonChange2FA {
                display: flex;
                color: white;
                font-family: "system-ui";
                background-color: black;
                margin-inline: auto;
                margin-top: 1%;
                text-transform: capitalize;

                &:hover {
                    color: white;
                    background-color: grey;
                }
            }
        }

        .infoUser {
            color: black;
            justify-content: center;
            margin-top: 1%;

            display: flex;
            align-items: center;

            .userName {
                color: grey;
                // border: 2px solid green;
                font-family: "system-ui";
                // margin-top: 3%;
            }

            .userNamePrint {
                // white-space: pre-line;
                margin-left: 1.66%;
                text-transform: capitalize;

                font-family: "system-ui";
                font-size: 200%;
                // font-weight: 200; //le gras d'un texte
                // font-style: oblique;
                // text-overflow: ellipsis;
            }
        }

        .infoUsername {
            color: black;
            justify-content: center;
            margin-top: 2%;
            display: flex;
            align-items: center;
            // white-space:pre-line;

            .userNameChange {
                color: grey;
                font-family: "system-ui";
                // text-align: left;
            }

            .userNamePrintChange {
                margin-left: 1.66%;
                text-transform: capitalize;

                font-family: "system-ui";
                font-size: 200%;
                // font-weight: 200;
            }
        }

        .buttonChange {
            // variant:"contained";
            display: flex;
            color: white;
            font-family: "system-ui";
            background-color: black;
            margin-inline: auto;

            // align-items: center;
            text-transform: capitalize;
            //  white-space:normal;
        }

        .buttonChange:hover {
            color: white;
            background-color: grey;
        }

        .stat {
            height: 96%;
            width: 96%;
            background-color: white;
            margin-top: 2%;
            margin-left: 2%;
            margin-bottom: 2%;
            min-height: 500px;
            min-width: 400px;
            box-shadow: 1px 2px 20px rgb(99, 97, 97);
            overflow: scroll;
            overflow-x: scroll;

            // * {
            //     box-sizing: border-box;
            // }

            .rectangle {
                height: 29%;
                width: 100%;
                background-color: rgb(122, 122, 122);
                top: 0;
                z-index: 999;
                // vertical-align: middle;
                // display: inline-block;
                // display:flow-root;
                text-align: center;
            }

            * {
                box-sizing: border-box;
            }

            .textRectangle {
                display: inline-block;
                vertical-align: middle;
                align-content: space-between;
                justify-content: space-between;
                padding: 6%;
            }

            // * {
            //     box-sizing: border-box;
            // }

            .itemLoser {
                align-content: space-between;
                justify-content: space-between;
                // width: 100%;
                border: 5px solid red;
                box-shadow: 1px 2px 20px rgb(99, 97, 97);
                background-color: rgb(255, 164, 164);

                margin-bottom: 2%;
                // border-radius: .5em;  pour arrondire les angles du carré
                padding: 10px;
            }

            //
            .itemWinner {
                align-content: space-between;
                justify-content: space-between;
                // width: 100%;
                border: 5px solid green;
                box-shadow: 1px 2px 20px rgb(99, 97, 97);
                background-color: rgb(182, 255, 164);
                margin-bottom: 2%;

                // border-radius: .5em;  pour arrondire les angles du carré
                padding: 10px;
            }

            .results {
                width: 20%;
                padding: 10px;
                background-color: none;
                // opacity: 100%;

                display: inline-flex;
                margin-left: 10%;
                text-align: center;
                align-content: space-between;
                vertical-align: middle;
                justify-content: space-between;
            }

            .score {
                font-size: x-small;
                padding: 2px;
                font-weight: 900;
            }

            .avatarStatuser {
                padding: 2px;
            }

            .name {
                padding: 2px;

                font-size: x-small;
                text-transform: capitalize;

                // text-transform: uppercase;
            }
        }
    }
}

//------------GRAND ECRAN----------------------------------------------------------------------
@media screen and (min-width: 928px) {
    .profilePageContainer {
        height: calc(100vh - 64px);
        width: 100vw;
        margin-top: 64px;
        display: flex;
        background-color: hotpink;
        overflow: scroll;
        // line-Height: 19%;

        .profile {
            margin-top: 3%;
            height: 90%;
            width: 30%;
            background-color: white;
            margin-top: 2%;
            margin-left: 2%;
            min-height: 500px;
            min-width: 400px;

            box-shadow: 1px 2px 20px rgb(99, 97, 97);

            .avatarItem {
                height: 50%;
                // position: relative;
                display: flex;
                justify-content: center;

                // align-items: center;
                // flex-direction: column;
                position: relative;

                .avatar {
                    margin-top: 2%;
                    height: 50%;
                    width: auto;
                    // z-index: 0;
                    // background-image: "../styles/asset/Cerise.jpg";
                    box-shadow: 1px 2px 20px rgb(99, 97, 97);
                }
            }

            .avatarChange {
                // variant:"contained";

                display: flex;

                color: white;
                font-family: "system-ui";
                background-color: black;
                margin-inline: auto;
                margin-top: 2%;
                width: 50%;
                // align-items: center;
                text-transform: capitalize;

                &:hover {
                    color: white;
                    background-color: grey;
                }
            }

            .buttonChange2FA {
                display: flex;
                color: white;
                font-family: "system-ui";
                background-color: black;
                margin-inline: auto;
                margin-top: 1%;
                text-transform: capitalize;

                &:hover {
                    color: white;
                    background-color: grey;
                }
            }
        }

        .infoUser {
            color: black;
            justify-content: center;
            margin-top: 3%;
            display: flex;
            align-items: center;

            .userName {
                color: grey;
                // border: 2px solid green;
                font-family: "system-ui";
            }

            .userNamePrint {
                white-space: pre-line;
                margin-left: 1.66%;
                text-transform: capitalize;

                font-family: "system-ui";
                font-size: 200%;
                // font-weight: 200; //le gras d'un texte
                // font-style: oblique;
                // text-overflow: ellipsis;
            }
        }

        .infoUsername {
            color: black;
            justify-content: center;
            margin-top: 5%;
            display: flex;
            align-items: center;
            // white-space:pre-line;

            .userNameChange {
                color: grey;
                font-family: "system-ui";
                // text-align: left;
            }

            .userNamePrintChange {
                margin-left: 1.66%;
                text-transform: capitalize;

                font-family: "system-ui";
                font-size: 200%;
                // font-weight: 200;
            }
        }

        .buttonChange {
            // variant:"contained";
            display: flex;
            color: white;
            font-family: "system-ui";
            background-color: black;
            margin-inline: auto;

            // align-items: center;
            text-transform: capitalize;
            //  white-space:normal;
        }

        .buttonChange:hover {
            color: white;
            background-color: grey;
        }

        .stat {
            height: 90%;
            width: 65%;
            background-color: white;
            margin-top: 2%;
            margin-left: 2%;
            margin-right: 2%;
            margin-bottom: 2%;
            // justify-content: space-between;
            // align-content: space-between;

            min-height: 500px;
            min-width: 400px;
            box-shadow: 1px 2px 20px rgb(99, 97, 97);
            overflow: scroll;
            overflow-x: scroll;

            // * {
            //     box-sizing: border-box;
            // }

            .rectangle {
                height: 29%;
                width: 100%;
                background-color: rgb(122, 122, 122);
                top: 0;
                 z-index: 999;
                // vertical-align: middle;
                // display: inline-block;
                // display:flow-root;
                text-align: center;
            }
            * {
                box-sizing: border-box;
            }

            .textRectangle {
                display: inline-block;
                vertical-align: middle;
                align-content: space-between;
                justify-content: space-between;
                padding: 6%;
            }

            // * {
            //     box-sizing: border-box;
            // }

            .itemLoser {
                align-content: space-between;
                justify-content: space-between;
                // width: 100%;
                border: 5px solid red;
                box-shadow: 1px 2px 20px rgb(99, 97, 97);
                background-color: rgb(255, 164, 164);

                margin-bottom: 2%;
                // border-radius: .5em;  pour arrondire les angles du carré
                padding: 10px;
            }

            //
            .itemWinner {
                align-content: space-between;
                justify-content: space-between;
                // width: 100%;
                border: 5px solid green;
                box-shadow: 1px 2px 20px rgb(99, 97, 97);
                background-color: rgb(182, 255, 164);
                margin-bottom: 2%;

                // border-radius: .5em;  pour arrondire les angles du carré
                padding: 10px;
            }

            .results {
                width: 20%;
                // padding: 60px;
                background-color: none;
                // opacity: 100%;

                display: inline-flex;
                margin-left: 10%;
                flex-direction: row;

                text-align: center;
                align-content: space-between;
                justify-content: space-between;
                vertical-align: middle;
                // display: flex;
            }

            .score {
                font-size: x-large;
                // padding: 12px;

                font-weight: 900;
                // z-index: 999;
            }

            .avatarStatuser {
                // padding: 10px;
                margin-left: 12px;
                align-items: center;
            }

            .name {
                font-size: x-small;
                // padding: 2px;

                margin-top: 9%;

                text-transform: capitalize;

                // text-transform: uppercase;
            }
        }
    }
}
