.notifContainer {
	width: 70vw;
	height: 75vh;

	margin: auto;
	margin-top: 15vh;

	//  background-color: red;
	overflow-x: scroll;


	.notifElement {
		margin-inline: auto;
		margin-block: 5%;
		width: 50%;
		height: 35%;
		border-radius: 15px;
		align-items: center;
		background-color: white;
		box-shadow: 1px 2px 20px rgb(99, 97, 97);
		display: flex;
		flex-direction: column;
	overflow-x: scroll;

		
		.notifTitle {
			margin-inline: auto;
			font-size: x-large;
		}

		.notifCross {
			margin-left: auto;
			transition: all 0.25s;
			&:hover {
				color: white;
			}
		}
		.notifAccept{
			color: black;

			&:hover {
				background-color: rgb(59, 116, 59);
			}
		}
		.notifDecline{
			color: black;

			&:hover {
				background-color: rgb(136, 63, 63);
			}
		}
		.notifText {
			// margin-top: 2%;
			 margin-left: 5%;

		}
		.notifFriend{
			text-decoration-line: none;
    		color: grey;
			size: small;

			&:hover {
				color: black;

			}
		}
		
	}
	.no_notif{
		width: 100%;
		text-align: center;
	}

}