.main {
  height: 100%;
  width: 78%;

  background-color: rgb(0, 0, 0);

  color: white;

  .mainTitleContainer {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background-color: rgb(54, 51, 57);

    .mainTitle {
      width: 35px;
      min-width: 35px;
      align-items: center;
      margin-right: 2%;
      margin-left: 2%;
      color: grey;
    }

    .openConvName {
      margin-left: 1%;
      background-color: rgb(54, 51, 57);
    }

    .newConvMessageInput {
      width: 100%;
      color: white;
      padding-left: 2%;
      font-size: large;
      background-color: transparent;
      border: 0;
      outline: none;
      font-weight: bold;
    }

    .buttons {
      display: flex;
      justify-content: space-around;
      margin-right: 2%;
      margin-left: auto;
      .messageButtons {
        display: flex;
        justify-content: space-around;
        margin-right: 2%;
        margin-left: auto;
      }
    }
  }

  .newConvChannelContainer {
    // display: flex;
    .createChannelSwitch {
      width: 200px;
      display: flex;
      align-items: center;
      margin-left: 10px;
      .createChannelSwitchText {
        margin-left: 5px;
        font-weight: bold;
      }
    }
    .channelNameInput {
      height: 34px;
      width: 400px;

      background-color: rgb(53, 49, 59);
      color: whitesmoke;

      display: flex;
      justify-content: space-between;
      align-items: center;

      outline: none;
      border: 0;
      border-radius: 25px;

      margin-block: 3%;
      margin-right: 10px;
      // padding-left: 2%;

      font-weight: bold;
      font-size: large;
    }
    .channelPrivacyToggleButton {
      background-color: rgb(53, 49, 59);
    }
  }

  .messagesContainer {
    height: calc(100% - 70px);
    // background-color: rgb(0, 0, 0);

    .messagesDisplay {
      height: calc(94% - 2px);
      width: 100%;
      overflow: scroll;
      display: flex;
      flex-direction: column;
      scroll-behavior: smooth;

      .rightMessages {
        margin-left: auto;
        margin-right: 2%;
        margin-top: 1px;
        margin-bottom: 1px;
        padding: 5px;
        // padding-block: 3px;

        width: fit-content;
        min-width: 50px;
        max-width: 60%;

        font-size: small;
        font-weight: bold;

        text-align: left;

        // overflow: auto;

        height: max-content;
        background-color: rgb(0, 145, 245);
        border-radius: 15px;
        border-bottom-right-radius: 0;

        word-break: break-all;
      }

      .leftMessages {
        margin-right: auto;
        margin-left: 2%;
        margin-top: 1px;
        margin-bottom: 1px;
        padding: 5px;
        // padding-block: 3px;

        width: fit-content;
        min-width: 50px;
        max-width: 60%;

        font-size: small;
        font-weight: bold;

        text-align: left;

        // overflow: auto;

        height: max-content;
        background-color: rgb(36, 40, 43);
        border-radius: 15px;
        border-bottom-left-radius: 0;

        word-break: break-all;
      }

      .serverMessagesContainer {
        display: flex;
        height: 20px;
        // background-color: red;
        justify-content: space-evenly;
        align-items: center;
        color: rgb(255, 255, 255, 0.5);

        font-weight: bold;

        .diviser {
          height: 0;
          width: 30%;

          border: 1px rgb(255, 255, 255, 0.5) solid;
        }
      }
    }

    .messageInput {
      display: flex;
      backdrop-filter: blur(30px);
      height: 4%;
      width: 95%;
      border-radius: 25px;
      border: 1px solid grey;
      margin-inline: auto;
      font-size: xx-small;

      input {
        font-weight: bold;
        width: 100%;
        color: white;
        padding-left: 2%;
        font-size: large;
        background-color: transparent;
        border: 0;
        outline: none;
      }
    }
  }
}
