$primary: rgb(255, 255, 255,);
$secondary: rgb(190, 190, 190);
$third: rgb(150, 150, 150);

.friendsPageContainer {
  display: flex;
  background-color: $primary;
  width: 100%;
  height: calc(100vh - 64px);
  color: black;

  .friendsPageSide {
    width: 48.5%;
    height: 95%;
    border-radius: 15px;
    background-color: $secondary;
    margin-left: 1%;
    margin-top: 1.25%;
    .friendsListContainer {
      padding-left: 1%;
      .friendsListTitle {
        color: black;
        font-size: xx-large;
        margin-left: 30%;
        padding-top: 1%;
      }
      .friendListItem {
        width: 80%;
        height: 50px;
        background-color: $third;
        display: flex;
        margin-left: 50px;
        margin-top: 10px;
        border-radius: 25px;
        .friendsName {
          margin-left: 30%;
          margin-top: 10px;
          font-size: x-large;
        }
      }
    }
  }

  .friendPageMain {
    width: 48.5%;
    height: 95%;
    border-radius: 15px;
    background-color: $secondary;
    margin-left: auto;
    margin-right: 1%;
    margin-top: 1.25%;
    .usersListContainer {
      padding-left: 1%;
      .usersListTitle {
        font-size: xx-large;
        margin-left: 40%;
        color: black;
        padding-top: 1%;
      }
      .friendListItem {
        width: 80%;
        height: 50px;
        background-color: $third;
        display: flex;
        margin-left: 50px;
        margin-top: 10px;
        border-radius: 25px;
        .friendsName {
          margin-left: 30%;
          margin-top: 10px;
          font-size: x-large;
        }
      }
    }
  }
}