$primary: rgb(42, 38, 48);
$secondary: rgb(53, 49, 59);
$content: grey;

.channelSettingsDialog {
  .rawContainer {
    width: 100%;
    height: 100%;
    background-color: $primary;
    .firstRaw {
      background-color: $primary;
      display: flex;
      width: 90%;
      height: 15%;
      margin-left: 5%;
      margin-top: 2%;
      border-radius: 25px;
      .changeChannelName {
        background-color: $secondary;
        display: flex;
        width: 40%;
        height: 70%;
        margin-left: 5%;
        margin-top: 2%;
        border-radius: 25px;
        .changeChannelNameInput {
          background-color: rgb(53, 49, 59);

          display: flex;
          justify-content: space-between;
          align-items: center;

          outline: none;
          border: 0;
          border-radius: 25px;

          margin-block: 3%;
          margin-inline: auto;
          padding-left: 2%;

          font-weight: bold;
          font-size: large;
        }
      }
      .changeChannelPassword {
        background-color: $secondary;
        display: flex;
        width: 40%;
        height: 70%;
        margin-left: 10%;
        margin-top: 2%;
        border-radius: 25px;
        .changeChannelPasswordInput {
          background-color: rgb(53, 49, 59);

          display: flex;
          justify-content: space-between;
          align-items: center;

          outline: none;
          border: 0;
          border-radius: 25px;

          margin-block: 3%;
          margin-inline: auto;
          padding-left: 2%;

          font-weight: bold;
          font-size: large;
        }
      }
    }
    .secondRaw {
      display: flex;
      width: 90%;
      height: 60%;
      margin-left: 5%;
      margin-top: 2%;
      border-radius: 25px;
      .participantsList {
        background-color: $secondary;
        // background-color: rgb(42, 38, 48);
        width: 90%;
        height: 90%;
        margin-top: 1%;
        margin-left: 3%;
        border-radius: 25px;
        .participantsContainer {
          overflow: scroll;
          display: flex;
          flex-direction: column;
          scroll-behavior: smooth;
          width: 100%;
          height: 80%;
          .participantItemContainer {
            color: $content;
            display: flex;

            width: 90%;
            height: 60px;
            min-height: 30px;
            background-color: $primary;
            margin-left: 5%;
            border-radius: 25px;
            margin-top: 10px;
            .content {
              margin-top: 10px;
              margin-left: 5px;
            }
            .participantName {
          // background-color: rgb(53, 49, 59);
          background-color: transparent;
              margin-top: 20px;
              margin-left: 20px;
              height: 25px;
            }
            .adminButton {
              margin-left: 50px;
          background-color: rgb(53, 49, 59);
          // background-color: red;
              margin-top: 5px;
              border-radius: 50px;
              height: 50px;
              width: 70px;
            }
            .notAdminButton {
              margin-left: 50px;
          background-color: transparent;
          // background-color: red;
              margin-top: 5px;
              border-radius: 50px;
              height: 50px;
              width: 70px;
            }
            .muteButton {
          background-color: rgb(53, 49, 59);
          // background-color: blue;
              margin-top: 5px;
              margin-left: 25px;
              border-radius: 50px;
              height: 50px;
              width: 70px;
            }
            .banButton {
          background-color: rgb(53, 49, 59);
          // background-color: green;
              margin-top: 5px;
              height: 50px;
              width: 70px;
              margin-left: 25px;
              border-radius: 50px;
            }

            .kickButton {
          background-color: rgb(53, 49, 59);
          // background-color: purple;
              margin-top: 5px;
              height: 50px;
              width: 70px;
              margin-left: 25px;
              border-radius: 50px;
            }
          }
        }
      }
    }

    .leaveChannel {
      background-color: $secondary;
      display: flex;
      width: 20%;
      height: 10%;
      margin-left: 40%;
      margin-top: 2%;
      border-radius: 25px;
      .leaveChannelText {
        font-size: large;
        font-weight: bold;
        color: $content;
        margin-left: 20%;
        margin-top: 7%;
      }
    }
  }
}
