$primary: rgb(42, 38, 48);
$secondary: rgb(53, 49, 59);

.channelSettingsDialog {
  .rawContainer {
    width: 100%;
    height: 100%;
    background-color: $primary;
    .firstRaw {
      background-color: $primary;
      display: flex;
      width: 90%;
      height: 15%;
      margin-left: 5%;
      margin-top: 2%;
      border-radius: 25px;
      .changeChannelName {
        background-color: $secondary;
        display: flex;
        width: 40%;
        height: 70%;
        margin-left: 5%;
        margin-top: 2%;
        border-radius: 25px;
        .changeChannelNameInput {
          width: 80%;
          height: 50%;
          margin-left: 10%;
        }
      }
      .changeChannelPassword {
        margin-left: auto;
        margin-top: 5%;
        .changeChannelPasswordInput {
        }
      }
    }
    .secondRaw {
      display: flex;
      width: 90%;
      height: 30%;
      margin-left: 5%;
      margin-top: 2%;
      border-radius: 25px;
      .addAdmin {
        background-color: $secondary;
        // background-color: rgb(42, 38, 48);
        width: 45%;
        height: 90%;
        margin-top: 1%;
        margin-left: 3%;
        border-radius: 25px;
        .addAdminTitle {
          width: fit-content;
          margin-left: 30%;
          height: 10%;
        }
        .addAdminContainer {
          overflow: scroll;
          display: flex;
          flex-direction: column;
          scroll-behavior: smooth;
          width: 100%;
          height: 80%;
          .addAdminContent {
            width: 90%;
            height: 30px;
            min-height: 30px;
            background-color: $primary;
            margin-left: 5%;
            border-radius: 25px;
            margin-top: 10px;
          }
        }
      }
      .removeAdmin {
        background-color: $secondary;
        width: 45%;
        height: 90%;
        margin-top: 1%;
        margin-left: 3%;
        border-radius: 25px;
        .removeAdminTitle {
          width: fit-content;
          margin-left: 30%;
          height: 10%;
        }
        .removeAdminContainer {
          overflow: scroll;
          display: flex;
          flex-direction: column;
          scroll-behavior: smooth;
          width: 100%;
          height: 80%;
          .removeAdminContent {
            width: 90%;
            height: 30px;
            min-height: 30px;
            background-color: $primary;
            margin-left: 5%;
            border-radius: 25px;
            margin-top: 10px;
          }
        }
      }
    }
    .thirdRaw {
      background-color: $primary;
      display: flex;
      width: 90%;
      height: 30%;
      margin-left: 5%;
      margin-top: 2%;
      border-radius: 25px;
      .banUser {
        background-color: $secondary;
        width: 45%;
        height: 90%;
        margin-top: 1%;
        margin-left: 3%;
        border-radius: 25px;
        .banUserTitle {
          width: fit-content;
          margin-left: 30%;
          height: 10%;
        }
        .banUserContainer {
          overflow: scroll;
          display: flex;
          flex-direction: column;
          scroll-behavior: smooth;
          width: 100%;
          height: 80%;
          .banUserContent {
            width: 90%;
            height: 30px;
            min-height: 30px;
            background-color: $primary;
            margin-left: 5%;
            border-radius: 25px;
            margin-top: 10px;
          }
        }
      }
      .muteUser {
        background-color: $secondary;
        width: 45%;
        height: 90%;
        margin-top: 1%;
        margin-left: 3%;
        border-radius: 25px;
        .muteUserTitle {
          width: fit-content;
          margin-left: 30%;
          height: 10%;
        }
        .muteUserContainer {
          overflow: scroll;
          display: flex;
          flex-direction: column;
          scroll-behavior: smooth;
          width: 100%;
          height: 80%;
          .muteUserContent {
            width: 90%;
            height: 30px;
            min-height: 30px;
            background-color: $primary;
            margin-left: 5%;
            border-radius: 25px;
            margin-top: 10px;
          }
        }
      }
    }
    .leaveChannel {
      background-color: $secondary;
      display: flex;
      width: 20%;
      height: 10%;
      margin-left: 40%;
      margin-top: 2%;
      border-radius: 25px;
    }
  }
}
