.span {
    display: block;
    height: 25vh; /*same height as header*/
    margin-top: -17vh; /*same height as header*/
    visibility: hidden;
}

.gaming {
    margin-left: 110px;
}

.blocksContainerCenter {
    margin-top: 10%;
}