.span {
    display: block;
    height: 25vh; /*same height as header*/
    margin-top: -17vh; /*same height as header*/
    visibility: hidden;
}

.gaming {
    margin-left: 110px;
}

.blocksContainerCenter {
    margin-top: 10%;
}

.waiting_div, .game-finished{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

.defeat{
    color: red;
}

.victory{
    color: green;
}

.draw{
    color: orange;
}

.btnPlay {
    text-decoration: none;
    .btn2 {
        background-color: black;
        color: white;
        margin-top: 6%;
    }
}